@font-face {
  font-family: 'Assistant';
  src: url('./Assistant-VariableFont_wght.woff2') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AssistantR';
  src: url('./Assistant-VariableFont_wght.woff2') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('./opensanshebrew-extrabold-webfont.woff2') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSansR';
  src: url('./opensanshebrew-light-webfont.woff2') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}